In [1]:
import numpy as np
import pandas as pd
import math
import yfinance
import matplotlib.pyplot as plt
import statsmodels.api as smb

In [2]:
def rmse(predicted, actual):
    diffs = predicted - actual
    return math.sqrt(np.mean(diffs ** 2))

In [7]:
def get_finance_data(start, end, stock, log=False):
    data = yfinance.Ticker(stock).history(start=start, end=end, interval='1d').reset_index()['Close'].to_frame()
    if log: 
        data = np.log(data)
    return data

In [5]:
plt.rcParams['figure.figsize'] = [16, 8]

In [9]:
aapl_frame = get_finance_data('2022-07-22', '2022-08-22', 'aapl', True)
aapl_frame.head()

      Close
0  5.036149
1  5.028723
2  5.019857
3  5.053519
4  5.057085

In [ ]:
# import from csv
temp_df = pd.read_csv('./data/temperatures.csv')